In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/decomposition/online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps

In [2]:
data = pd.read_excel('./birthweight_low.xlsx')

In [3]:
data.head(10)

,mage,meduc,monpre,npvis,fage,feduc,omaps,fmaps,cigs,drink,male,mwhte,mblck,moth,fwhte,fblck,foth,bwght
0,69,NaN,5,2.0,62,NaN,4,7,23,9,1,0,1,0,0,1,0,697
1,68,12.0,3,10.0,61,11.0,4,6,25,11,1,1,0,0,1,0,0,1290
2,71,12.0,3,6.0,46,12.0,2,7,21,12,1,0,1,0,0,1,0,1490
3,59,16.0,1,8.0,48,16.0,7,8,21,10,0,0,0,1,0,0,1,1720
4,48,12.0,4,6.0,39,12.0,2,9,17,13,0,1,0,0,1,0,0,1956
5,67,11.0,4,8.0,40,8.0,4,9,16,14,0,1,0,0,1,0,0,1984
6,54,12.0,2,12.0,46,12.0,9,9,17,12,1,0,1,0,0,1,0,2050
7,71,14.0,4,7.0,51,11.0,9,8,15,13,0,1,0,0,1,0,0,2068
8,56,12.0,1,9.0,53,14.0,8,9,14,9,1,1,0,0,1,0,0,2148
9,58,12.0,2,12.0,61,16.0,9,9,13,6,0,0,1,0,0,1,0,2180

## 1. Data preprocessing
#### Fill missing value

In [4]:
data.isna().sum()

mage      0
meduc     3
monpre    0
npvis     3
fage      0
feduc     7
omaps     0
fmaps     0
cigs      0
drink     0
male      0
mwhte     0
mblck     0
moth      0
fwhte     0
fblck     0
foth      0
bwght     0
dtype: int64

#### Since all the columns with missing values are continuous, we fill in them with mean value

In [5]:
data[['meduc','npvis','feduc']] = data[['meduc','npvis','feduc']].fillna(value = data[['meduc','npvis','feduc']].mean())

#### To avoid dummy variable trap, in [mwhte, mblck, moth] we drop one of them, say mblck to avoid multicolinearity. We do the same to [fwhte, fblck, foth]

In [6]:
data = data.drop(['mblck','fblck'],axis=1)

## Use VIF to justify multicolinarity

In [7]:
def calc_vif(X):
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return(vif)

In [8]:
calc_vif(data.iloc[:,:-1])

   variables         VIF
0       mage   27.882915
1      meduc   82.187370
2     monpre    5.463062
3      npvis    9.960589
4       fage   30.814372
5      feduc   64.201143
6      omaps   51.426889
7      fmaps  142.028576
8       cigs    5.287045
9      drink    5.676175
10      male    2.351181
11     mwhte    8.382121
12      moth    9.517606
13     fwhte   10.012691
14      foth    9.711157

#### For high VIFs, drop meduc, feduc since they are not quite correlated with birthweight. Drop omaps since fmaps contains more info.
#### Drop fage and fmaps since they aree highly correlated with mage. Drop 'moth','foth','fwhte' since they aree higher than 5

In [9]:
data = data.drop(['mage','meduc','feduc','fage','fmaps','omaps','moth','foth','fwhte'],axis=1)
#data['increase_maps']=data.apply(lambda x:x['fmaps']-x['omaps'],axis=1)
#data = data.drop([],axis=1)

In [10]:
calc_vif(data.drop('bwght',axis=1))

  variables       VIF
0    monpre  2.909303
1     npvis  4.544878
2      cigs  4.559596
3     drink  4.588671
4      male  2.045500
5     mwhte  1.436291

In [11]:
data.corr()

          monpre     npvis      cigs     drink      male     mwhte     bwght
monpre  1.000000 -0.342175 -0.058436  0.015553 -0.075269  0.075486 -0.051827
npvis  -0.342175  1.000000  0.036211 -0.067171  0.002164  0.041190  0.061358
cigs   -0.058436  0.036211  1.000000  0.355779 -0.115098  0.033570 -0.572385
drink   0.015553 -0.067171  0.355779  1.000000 -0.092433  0.164619 -0.743125
male   -0.075269  0.002164 -0.115098 -0.092433  1.000000 -0.097089  0.114855
mwhte   0.075486  0.041190  0.033570  0.164619 -0.097089  1.000000 -0.114388
bwght  -0.051827  0.061358 -0.572385 -0.743125  0.114855 -0.114388  1.000000

In [12]:
data

     monpre  npvis  cigs  drink  male  mwhte  bwght
0         5    2.0    23      9     1      0    697
1         3   10.0    25     11     1      1   1290
2         3    6.0    21     12     1      0   1490
3         1    8.0    21     10     0      0   1720
4         4    6.0    17     13     0      1   1956
..      ...    ...   ...    ...   ...    ...    ...
191       5   12.0     3      2     1      0   4610
192       2   12.0    10      4     1      0   4660
193       2   15.0     0      1     0      1   4678
194       2    6.0     8      4     1      0   4791
195       2   10.0     0      0     0      0   4933

[196 rows x 7 columns]

#### Now all the VIFs are at the normal range

In [13]:
y = data['bwght']
X = data[['monpre', 'npvis', 'cigs', 'drink', 'male', 'mwhte'
       ]]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                   test_size=0.25, random_state=219)

## 2. Model fit
#### Linear regression

In [15]:
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
lm.score(X_test,y_test)

0.7063343591559027

In [17]:
np.abs(lm.score(X_train,y_train)- lm.score(X_test,y_test))

0.05557412353419733

In [18]:
lm.score(X_test,y_test) - (np.abs(lm.score(X_train,y_train)- lm.score(X_test,y_test))-0.05)

0.7007602356217054

#### Lasso regression

In [19]:
alpha_list = [0.05*i for i in range(60)]
lasso_train_r2 = []
lasso_test_r2 = []
lasso_train_test_gap = []
lasso_final_score = []
# Tune parameteer with alpha = (0,3)
for alp in alpha_list:
    clf = linear_model.Lasso(alpha=alp)
    clf.fit(X_train,y_train)
    lasso_train_r2.append(clf.score(X_train,y_train))
    lasso_test_r2.append(clf.score(X_test,y_test))
    lasso_train_test_gap.append(np.abs(clf.score(X_train,y_train)- clf.score(X_test,y_test)))
    lasso_final_score.append(clf.score(X_test,y_test)-(np.abs(clf.score(X_train,y_train)- clf.score(X_test,y_test))-0.05))

/Users/bh0118/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  if __name__ == '__main__':
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/coordinate_descent.py:475: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  positive)
/Users/bh0118/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11445279.594996076, tolerance: 6554.396585034014
  positive)

In [20]:
li = {'alpha':alpha_list, 'lasso_test_r2':lasso_test_r2, 'lasso_train_test_gap':lasso_train_test_gap,'lasso_final_score':lasso_final_score}
lasso_res = pd.DataFrame(li)

In [21]:
#final score has the substraction of part over 0.05
lasso_res

    alpha  lasso_test_r2  lasso_train_test_gap  lasso_final_score
0    0.00       0.706334              0.055574           0.700760
1    0.05       0.706435              0.055675           0.700760
2    0.10       0.706536              0.055776           0.700760
3    0.15       0.706636              0.055876           0.700760
4    0.20       0.706736              0.055977           0.700759
5    0.25       0.706837              0.056078           0.700759
6    0.30       0.706937              0.056178           0.700758
7    0.35       0.707036              0.056279           0.700757
8    0.40       0.707136              0.056380           0.700756
9    0.45       0.707235              0.056480           0.700755
10   0.50       0.707335              0.056581           0.700754
11   0.55       0.707434              0.056681           0.700753
12   0.60       0.707533              0.056781           0.700751
13   0.65       0.707632              0.056882           0.700750
14   0.70       0.707730              0.056982           0.700748
15   0.75       0.707829              0.057082           0.700746
16   0.80       0.707927              0.057183           0.700745
17   0.85       0.708025              0.057283           0.700742
18   0.90       0.708123              0.057383           0.700740
19   0.95       0.708221              0.057483           0.700738
20   1.00       0.708319              0.057583           0.700736
21   1.05       0.708416              0.057683           0.700733
22   1.10       0.708513              0.057783           0.700731
23   1.15       0.708610              0.057883           0.700728
24   1.20       0.708707              0.057982           0.700725
25   1.25       0.708804              0.058082           0.700722
26   1.30       0.708901              0.058182           0.700719
27   1.35       0.708997              0.058282           0.700716
28   1.40       0.709094              0.058381           0.700712
29   1.45       0.709190              0.058481           0.700709
30   1.50       0.709286              0.058581           0.700705
31   1.55       0.709381              0.058680           0.700701
32   1.60       0.709477              0.058780           0.700697
33   1.65       0.709572              0.058879           0.700693
34   1.70       0.709668              0.058978           0.700689
35   1.75       0.709763              0.059078           0.700685
36   1.80       0.709858              0.059177           0.700681
37   1.85       0.709953              0.059276           0.700676
38   1.90       0.710047              0.059375           0.700672
39   1.95       0.710142              0.059475           0.700667
40   2.00       0.710236              0.059574           0.700662
41   2.05       0.710330              0.059673           0.700657
42   2.10       0.710424              0.059772           0.700652
43   2.15       0.710518              0.059871           0.700647
44   2.20       0.710611              0.059970           0.700641
45   2.25       0.710705              0.060069           0.700636
46   2.30       0.710798              0.060167           0.700630
47   2.35       0.710891              0.060266           0.700625
48   2.40       0.710984              0.060365           0.700619
49   2.45       0.711077              0.060464           0.700613
50   2.50       0.711169              0.060562           0.700607
51   2.55       0.711262              0.060661           0.700601
52   2.60       0.711354              0.060760           0.700594
53   2.65       0.711446              0.060858           0.700588
54   2.70       0.711538              0.060957           0.700581
55   2.75       0.711630              0.061055           0.700575
56   2.80       0.711721              0.061153           0.700568
57   2.85       0.711813              0.061252           0.700561
58   2.90       0.711904              0.061350           0.700554
59   2.95       0.711995              0.061448           0.700547

#### ARD

In [22]:
ARD_clf = linear_model.ARDRegression(tol = 1e-10,alpha_1=1e-10,alpha_2=1e-10,lambda_1=1e-10,lambda_2=1e-10)

In [23]:
ARD_clf.fit(X_train,y_train)
ARD_clf.score(X_test,y_test)

0.7284494369869126

In [24]:
np.abs(ARD_clf.score(X_train,y_train)- ARD_clf.score(X_test,y_test))

0.08208054575637069

In [25]:
ARD_clf.score(X_test,y_test) - (np.abs(ARD_clf.score(X_train,y_train)- ARD_clf.score(X_test,y_test))-0.05)

0.6963688912305419

#### KNN Regression

In [26]:
neigh_list=[i for i in range(5,61)]
KNN_test_r2 = []
KNN_train_test_gap = []
for ne in neigh_list:
    neigh = KNeighborsRegressor(n_neighbors=ne)
    neigh.fit(X_train,y_train)
    KNN_test_r2.append(neigh.score(X_test,y_test))
    KNN_train_test_gap.append(np.abs(neigh.score(X_train,y_train)- neigh.score(X_test,y_test)))

In [27]:
ki = {'n_neighbour':neigh_list, 'knn_test_r2':KNN_test_r2, 'knn_train_test_gap':KNN_train_test_gap}
knn_res = pd.DataFrame(ki)

In [28]:
# Result with n_neighbour = 5-60
knn_res

    n_neighbour  knn_test_r2  knn_train_test_gap
0             5     0.496364            0.188765
1             6     0.527917            0.158190
2             7     0.528291            0.156743
3             8     0.534484            0.145884
4             9     0.542254            0.116844
5            10     0.531270            0.113764
6            11     0.526084            0.111125
7            12     0.554024            0.077850
8            13     0.548515            0.078493
9            14     0.550180            0.065949
10           15     0.569842            0.047703
11           16     0.557092            0.054552
12           17     0.564944            0.043257
13           18     0.558417            0.048539
14           19     0.550506            0.047114
15           20     0.551698            0.039159
16           21     0.535734            0.055031
17           22     0.545148            0.039421
18           23     0.523692            0.059678
19           24     0.510698            0.068512
20           25     0.500502            0.070327
21           26     0.502443            0.064348
22           27     0.500416            0.057980
23           28     0.496550            0.059156
24           29     0.488280            0.062847
25           30     0.480373            0.061590
26           31     0.472596            0.062025
27           32     0.465854            0.061227
28           33     0.455543            0.065538
29           34     0.454770            0.060707
30           35     0.441139            0.073462
31           36     0.431901            0.073661
32           37     0.425606            0.076190
33           38     0.431668            0.067561
34           39     0.420184            0.075115
35           40     0.422026            0.071989
36           41     0.424274            0.064894
37           42     0.421315            0.067667
38           43     0.417168            0.068579
39           44     0.416649            0.063579
40           45     0.411183            0.066538
41           46     0.408078            0.064303
42           47     0.400900            0.064712
43           48     0.396147            0.062174
44           49     0.395928            0.060364
45           50     0.395874            0.055816
46           51     0.393515            0.055812
47           52     0.393669            0.051848
48           53     0.386700            0.054636
49           54     0.380785            0.054494
50           55     0.371478            0.059453
51           56     0.366599            0.058545
52           57     0.364215            0.055890
53           58     0.356671            0.059720
54           59     0.349850            0.060056
55           60     0.348294            0.057641

In [29]:
#KNN regression performs bad on test cases

## 3. Final Model used: Lasso(alpha=0.05)

In [30]:
final_mod = linear_model.Lasso(alpha=0.05)
final_mod.fit(X_train,y_train)
final_mod.score(X_train,y_train)
final_mod.score(X_test,y_test)
np.abs(final_mod.score(X_train,y_train)- final_mod.score(X_test,y_test))
final_mod.score(X_test,y_test)-(np.abs(final_mod.score(X_train,y_train)- final_mod.score(X_test,y_test))-0.05)

0.7007601741364912

In [31]:
ans={}
ans['model type'] = 'Lasso with alpha=0.05, with X = '
ans['train score'] = final_mod.score(X_train,y_train)
ans['test score'] = final_mod.score(X_test,y_test)
ans['train_test_gap']=np.abs(final_mod.score(X_train,y_train)- final_mod.score(X_test,y_test))
ans

{'model type': 'Lasso with alpha=0.05',
 'train score': 0.6507601741364911,
 'test score': 0.7064351156831647,
 'train_test_gap': 0.05567494154667363}